body {
  font-family: "Arimo", sans-serif;
  margin: 0 auto;
}

body { background: rgba(30, 11, 97, 0.562);
   }


#wrapper {
  width: 70%;     /* specify a width! */
  margin: 0 auto; /* center */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}



table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

h1 {
  margin: 0 auto;
  font-size: 4rem;
  background-color: #b2c0;
  background-image: linear-gradient(to top, #9c168aad 0%, #544d72 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

h5{
  font-size: 0.9rem;
}

p{
  color: rgba(11, 11, 48, 0.521);
}

div#buttons *{display:inline}

@media screen and (min-width: 1080px) {
  body {
    background-color: rgba(11, 119, 207, 0.568);
    display: block;
    position: static;
    z-index: auto;
    width: 100%;
  }
  .resize {
    width: 750px;
    height: auto;
  }
  h1 {
    background-color: teal;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
}


@media screen and (max-width: 1148px) and (min-width: 961px) {
  .resize {
    width: 600px;
    height: auto;
  }
  .wrapper {
    box-sizing: content-box;
    display: block;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }
  h1 {
    font-size: 3.8rem;
    margin: 0 auto;
    background-color: rgba(99, 99, 93, 0.356);
    background-color: rgba(194, 207, 5, 0.753);
    background-image: linear-gradient(to top, #f1e31a 0%, #f0ff23ad 100%);
  }
}

/* afblijven*/
@media screen and (max-width: 960px) and (min-width: 481px) {
  .wrapper {
    box-sizing: content-box;
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }
  body {
    background-color: rgba(233, 150, 122, 0.603);
  }

  .resize {
    width: 450px;
    height: auto;
  }

  h1 {
    font-size: 3.8rem;
  }
}

    
    
/* afblijven*/
@media screen  and (max-width: 480px) {
  h1 {
    font-size: 2.8rem;
    margin: 0 auto;
    background-color: rgba(99, 99, 93, 0.356);
    background-color: rgb(255, 153, 0);
    background-image: linear-gradient(to top, #ff0707a1 0%, #ff2002 100%);
  }
  body {
    background-color: rgba(139, 141, 137, 0.603);
    display: block;
    position: static;
    z-index: auto;
    width: 100%;
    z-index: auto;
  }

  .resize {
    width: 300px;
    height: auto;
  }
}
